* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(137, 203, 241);
    margin: 40px;
}

h1, h2, h3 {
    color: white;
}

li, p {
    color: rgb(55, 52, 97);
}

#title {
    text-align: center;
}

#link-list {
    margin: 0 auto;
    width: 15%;
}

.recipe {
    width: 60%
}

img {
    border: 2px solid white;
    border-radius: 20px;
}