* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(137, 203, 241);
}

.menu-text {
    color: white;
}

#title {
    text-align: center;
}

#link-list {
    margin: 0 auto;
    width: 15%;
}